@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://use.typekit.net/ilz0qoo.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f7f2f0;
}

.gallery {
	/* width: 100%; */
	display: flex;
	/* overflow-x: scroll; */
	overflow: hidden;
}

.gallery div {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, calc(33.333% - 1vh));
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	gap: 2vh;
	padding: 1vh 1vh;
	scrollbar-width: none;
	/* flex: none; */
}

.gallery div span {
	max-height: 580px;
	overflow: hidden;
	border-radius: 6px;
}

.gallery div img {
	filter: grayscale(100%);
	transition: transform 0.5s;
	object-fit: contain;
	height: 100%;
}
.gallery::-webkit-scrollbar {
	display: none;
}

.gallery-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

#backBtn,
#nextBtn {
	width: 7vh;
	cursor: pointer;
	margin: 5vh;
}

.gallery div img:hover {
	filter: grayscale(0);
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.5s;
}

.gallery div img:active {
	transition: transform 0.1s;
	transform: scale(1);
}

@media screen and (max-width: 768px) {
	.gallery div img {
		width: 100%;
		filter: grayscale(0%);
		transition: transform 0.5s;
		object-fit: contain;
		height: 100%;
	}

	.gallery div {
		grid-template-columns: repeat(6, 100%);
	}

	#backBtn,
	#nextBtn {
		width: 5vh;
		margin: 2vh;
	}
}

.gallery-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0vh;
	margin-bottom: 10vh;
}

.gallery div span {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 350px;
	border-radius: 6px;
}

.gallery div span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery div p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(134, 186, 138, 0.5);
	color: #f7f2f0;
	padding: 8px;
	font-family: Montserrat;
}
