@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://use.typekit.net/ilz0qoo.css");

body {
	margin: 0;
}

.flexbox {
	font-family: Montserrat;
	margin: 0 auto;
	margin-top: 20vh;
	padding: 0 20vh;
	margin-bottom: 20vh;
}

.intro {
	display: flex;
	gap: 40px;
	align-items: flex-start;
}

.intro p {
	flex: 1;
}

.intro img {
	width: 40%;
	object-fit: cover;
	border-radius: 8px;
}
.menu-wrapper {
	display: flex;
	padding: 0 10vw;
	padding-top: 16px;
	align-items: center;
	/* ur elements will be to the max left and right it can, with space between them */
	justify-content: space-between;
	/* puts all ur text in capital letters */
	text-transform: uppercase;
	font-size: 20px;
	height: 130px;
	background-color: #86ba8a;
}

.logo-horizontaal {
	width: 10vw;
	height: 10vh;
	display: flex;
}

.menu {
	display: flex;
	/* distance between elements in flex */
	gap: 50px;
	align-items: center;
	list-style: none;
}

a {
	text-decoration: none;
	color: #001e10;
}
